torch>=2.0.0
torchvision>=0.15.0
transformers>=4.30.0
datasets>=2.0.0
faiss-cpu>=1.7.3
fastapi>=0.95.0
uvicorn[standard]>=0.20.0
tqdm
pandas
numpy
opencv-python
Pillow
pytesseract>=0.3.10
sentence-transformers>=2.2.2
scikit-learn
mlflow
python-multipart
gunicorn
pytest>=7.0.0
jupyter
streamlit>=1.0.0
easyocr>=1.7.0
